.li_Card {
  position: relative;
  width: 35rem;
  height: 6rem;
  margin: 2rem;
  background: #f8f9fa;
  border-radius: 1rem;
  list-style: none;
}
@media (max-width: 768px) {
  .li_Card {
    width: 44rem;
  }
}
@media (max-width: 600px) {
  .li_Card {
    width: 24rem;
  }
}
@media (max-width: 425px) {
  .li_Card {
    margin: 1.4rem;
  }
}
@media (max-width: 320px) {
  .li_Card {
    width: 23rem;
  }
}
.li_Card:hover {
  background: #ffffff;
  box-shadow: 0px 4px 42px -12px rgba(0, 0, 0, 0.25);
}
.btn_Remove {
  position: absolute;
  margin-top: 0.4rem;
  width: 1.4rem;
  height: 1.5rem;
  right: 1rem;
  border: none;
  background: #e9ecef;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.div_Card--description {
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: 900;
}
.div_Card--type--saida {
  background-color: rgb(204, 210, 216);
  position: absolute;
  width: 0.3rem;
  height: 6rem;
  top: 0;
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 5rem;
}
.span_saida {
  font-weight: lighter;
  position: relative;
  top: 3rem;
  left: 0.8rem;
  font-size: 1rem;
}
.div_Card--type--entrada {
  background-color: rgb(196, 255, 196);
  position: absolute;
  width: 0.3rem;
  height: 6rem;
  top: 0;
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 5rem;
}
.span_entrada {
  font-weight: lighter;
  position: relative;
  top: 3rem;
  left: 0.8rem;
  font-size: 1rem;
}
.div_Card--value {
  position: absolute;
  right: 10rem;
  top: 1rem;
}
@media (max-width: 600px) {
  .div_Card--value {
    right: 5rem;
  }
}
